@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
body {
    max-width: 1400px;
    margin: 0 auto;
}

* {
    transition: all 0.5s ease;
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
}
#gameEnd {
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 300%;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    background-color: #000000cc;
    z-index: 300;
    display: none;
    text-align: center;
}
#gameEnd .inner {
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}
#time {
    top: 20px;
    right: 20px;
    background-color: black;
    color: red;
    z-index: 100;
    position: fixed;
    padding: 8px 10px;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Major Mono Display', monospace; 
}
#environment {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-image:url("img/textures/sand.jpg");
}
#back {
    background-image: url("img/textures/background.jpg");
    height: 175px;
    background-position: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#ground hr {
    border: 2px solid #b61b1bcc;
    position: relative;
}
#ground hr:first-child {
    top: 40px;
}
#ground hr:last-child {
    top: 460px;
    border-width: 1px;
}
#girlcontainer {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
#girl {
    width: 120px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    display: inline-block;
}

#girl.back {
    background-image: url("img/girl_back.png");
}

#girl.front {
    background-image: url("img/girl_front.png");
}

#player1, #player2 {
    width: 35%;
    height: 80px;
    background-image: url("img/player.png");
    position: absolute;
    left: 10px;
    top: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
#player2 {
    background-position: left;
    left: auto;
    right: 10px;
}
.playerInfo {
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    font-size: 200%;
}

#player2info {
    right: 10px;
    left: auto;
}