@import url('https://fonts.googleapis.com/css?family=PT+Mono');
* {
    font-family: 'PT Mono', monospace;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 150%;
    background-color: #f0f0f0;
    margin-top: 20px;

}

h1,
h2 {
    margin: 5px;
}

h2 {
    font-size: 95%;
    margin-bottom: 50px;
}

.fl {
    float: left;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

#lock {
    overflow: auto;
}

#lock img {
    width: 256px;
    height: 256px;
    margin-bottom: 20px;
}

input {
    width: 50px;
    padding: 10px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin: 0;
}

#check {
    background-color: #EBBA16;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #424A60;
    cursor: pointer;
    transition: all 0.5s ease;
}

#check:hover {
    background-color: #424A60;
    color: #EBBA16;
}

#tries {
    font-size: 50px;
    font-family: Arial, sans-serif;
    text-align: left;
}

#tries div {
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 5px;
}

#tries div:first-child {
    background-color: #EBBA16;
    display: block;
    font-size: 80px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-left: 233px;
    margin-bottom: 15px;

}