@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    font-family: 'Black Ops One', cursive;
    text-align: center;
    color: white;
    font-weight: normal;
}
body {
    background-image: url(images/background.png);
    text-transform: uppercase;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}
#container div {
    font-size: 80px;
    border: 3px solid lime;
    width: 200px;
    font-size: 80px;
    height: 150px;
    line-height: 150px;
    margin: 20px;
}
h1 {
    font-size: 80px;
}
.operacio {
    border-color:transparent!important;
    width: auto!important;
}
#container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    margin: 0;
    border: 0;
    font-size: 80px;
    width: 196px;
    height: 140px;
    background-color: rgba(0,0,0,0.8);
}

#scontainer {
    display: flex;
    position: fixed;
    align-items: flex-end;
    justify-content: space-between;
    bottom: 0;
    left: 10px;
    right: 10px;
}
#scontainer div {
    width: 33.33333%;
}
.life {
    height: 20px;
    width: 20px;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    border: 3px solid lime;
}
#gameover {
    display: none;
}
#keyhelp {
    margin-bottom: 50px;
}
#keyhelp img {
    width: 64px;
    margin: 0 10px;
}